#healthBars {
    flex-direction: row;
    align-items: center;
}

.health-bar {
    width: 10px;
    height: 30px;
    margin-right: 6px;
    background-color: red;
    background-size: 6px 6px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.health-bar.empty {
    opacity: 0;
}